* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  font-size: 24px;
  color: rgb(0,101,155);
  font-weight: bold;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  margin: 0 8px;
}

.App-logo, .mainNewPicture {
  max-width: 100%;
  height: auto;
}

.mainBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.firstBlock, .secondBlock {
  max-width: 340px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.Nav {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
  align-items: center;
}

.threeNews {
  display: flex;
  flex-direction: column;
}

.thirdBlock {
  background-color: #81B9E4;
  max-width: 330px;
  height: auto;
}
